<% include blocks/header.ejs%>

<div class="card text-white bg-secondary mt-3 ml-auto mr-auto " style="max-width: 40%;">
    <div class="card-header"><h5><b>Вербицкий Виктор Валерьевич</b></h5></div>
    <div class="card-body">
        <h5 class="card-title">Студент группы №33 (IMTACADEMY)</h5>
        <p class="card-text">Tel: 066-466-39-44 (Viber)<br>Facebook: https://www.facebook.com/BIKTOPBB</p>
    </div>
</div>

<% include blocks/footer.ejs%>
